<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{%- include head.html -%}
{% include head-custom2.html %}
{% include live2d.html %}
<body onload="checking();"> 

  <div class="wrapper">
    <header>
      {%- include header.html -%}
    </header>


    <section>
      <div id="video_wrapper">
        <video autoplay loop id="background">
          <source src="https://drive.google.com/uc?export=view&id=17ygkkkTDZb219cgsmglfod33qP8PGW58" type="video/mp4">
        </video>
        {{ content }}
      </div>
    </section>

  </div>
  <script src="{{ '/assets/js/videojava.js' | relative_url }}" type="text/javascript"></script>
</body>


</html>